<p>
<strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
<strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<%= link_to 'Home', root_path %>
